* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .img-header img{
    border: 0.01em solid #bf8f65;
    border-radius: 31%;
    border-style:dashed;
    margin-top: 0.2em;
    margin-left: 0.1em;
}
header {
    color: #bf8f65;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #bf8f65;
}

.menu-principal {
    display: flex;
    gap: 25vw;
    margin-left: 10vw;
}

.menu-principal a {
    color: #bf8f65;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 0.1em;

}

.menu-principal a:hover {
color: black;
}

header form {
    margin-left: 6vw;
    padding-top: 12vh;
}

.separar-icone-carrinho i{
   margin-right: 0.5vw;
}

.separar-icone-carrinho:hover{
    color: black;
}

main {
    background-color: #f2f1df;
    color: #bf8f65;
    /* color: #a64c; */
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5vw;
    color: black;
    width: 100%;
}

.rodape img {
    display: flex;
}